<div class="newsletter">
  <h1>Subscribe to our newsletter</h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque eget ligula
    vitae nisi tincidunt dapibus.
  </p>
  <form>
    <div class="input-area">
      <input type="email" id="email" placeholder="Enter your email" />
      <button type="submit">Subscribe</button>
    </div>
  </form>
</div>


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.newsletter {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 30px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  padding: 50px 30px;
}

.newsletter h1 {
  color: #454545;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.newsletter p {
  color: #454545;
  font-size: 1.1rem;
  text-align: center;
  margin-bottom: 40px;
}

.newsletter form {
  display: grid;
  grid-template-columns: 1fr 1fr
