ul {
    list-style-type: none;
    margin: 30;
    padding: 30;
    display: flex;
    position: relative;
    align-items: center;
    background-color: #ffffff;
}

.logo {
    width: 120px;
    margin-right: auto;
}

h2{
    color: red;
}

li {
    margin: 10px;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.img_logo {
    width: 120px;
    
}
.img_panier {
    width: 35px;
    margin-left: auto;
    margin-right: 80px;
    margin-top: -20px;
}

.img_profil {
    width: 35px;
    margin-right: 20px; /* Adjust as needed */
}

.logogo {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Align items to the end of the container */
    flex-grow: 1; /* Allow this container to take up remaining space */
    margin-left: auto; /* Pushes the logo to the right */
}
nav {
    display: flex;
    align-items: center; /* This will vertically center the items */
    justify-content: flex-start; /* This will align items to the start of the container */
    border: solid rgb(0, 0, 0);
}

.logo_panier {
    width: 38px;
    margin-right: 20px; /* Adjust as needed */
    margin-top: -20px;
}



.banniere-ul {
    list-style-type: none;
    padding: 30px;
    display: flex;
    align-items: center;
    background-color: #ffffff;
}


h1 {
    font-size: 2em; /* Adjust the size as needed */
    margin-right: auto; /* Pushes everything else to the right */
}
